body{
    background-color  : whitesmoke;
    background-image  : url("/img/asanoha.png");
    background-repeat : repeat;
    width             : 90%;
    margin            : 0 auto;
}


.titulos{
    text-align : center;
}

.titulos a{
    font-size   : 35px;
    font-weight : bold;
}

.subtitulos{
    text-align  : left;
    font-size   : 20px;
    font-weight : bold;
}

.lecturas{
    background-color : #443266;
    padding          : 10px;
    margin           : 10px;
    color            : #F1F0FF;
}

.lecturas .titulos{
    color : #F1F0FF;
}

.lecturas a{
    color : #F1F0FF;
}

.texto{
    background-color : #F1F0FF;
    padding          : 10px;
    margin           : 10px;
    color            : #443266;
}

.narracion{
    text-align: justify;
}

.images{
    text-align: center;
    font-style: italic;
    font-size: 14px;
}

.images img{
    text-align: center;
    display: block;
    margin: auto;
}

ul{
    list-style-type: lower-greek;
}

.cuentos{
    width: 95%;
    text-align: justify;
    margin: auto;
}
